*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    display: flex;
    background-color: rgb(216, 34, 10);
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 24, 24);
    max-width: 60%;
    height: 100%;
    padding: 30px;
    align-items: center;
    text-align: center;
}

.name{
    font-size: 50px;
}

.intro-text{
    margin-top: 50px;
}

.intro{
    margin-bottom: 50px;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    margin-bottom: 10px;
}

.project{
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 85%;
}

.email{
    text-decoration: none;
}

.contacts{
    width: 60%;
}

.link{
    margin: 20px;
}

.link:hover{
    color: rgb(255, 0, 255);
}

.line{
    background-color: white;
    border-radius: 10px;
    height: 5px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.largeline{
    background-color: rgb(216, 34, 10);
    border-radius: 15px;
    height: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}