*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
}

body{
    background-color: rgb(26, 26, 26);
}

:root{
    --rainbow: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(249,255,0,1) 20%, rgba(0,255,13,1) 40%, rgba(0,249,255,1) 60%, rgba(8,0,255,1) 80%, rgba(184,0,255,1) 100%);
    --test: linear-gradient(rgba(1,1,1,1), rgba(2,2,2,2))
}

@keyframes line {
    0%{
        background-position: left;
    }

    50%{
        background-position: right;
    }

    100%{
        background-position: left;
    }
}

.gradient-text{
    background: var(--rainbow);
    background-clip: text;
    color: transparent;
    background-size: 400%;
    animation: line 20s infinite;
}

.rainbow-line{
    height: 7px;
    background-image: var(--rainbow);
    background-size: 400%;
    animation: line 20s infinite;
}

.intro-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 14, 14);
    height: 450px;
}

.intro-name{
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
}

.intro-sub{
    text-align: center;
}